@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply outline-none;
}

body {
  font-family: 'montserrat', sans-serif;
  @apply bg-[#161d30];
}

::-webkit-scrollbar {
  @apply w-4 bg-[#283046];
}

::-webkit-scrollbar-track {
  @apply bg-[#283046];
}

::-webkit-scrollbar-thumb {
  border: 4px solid #fff;
  @apply rounded-full bg-gray-second border-[#283046];
}

body::-webkit-scrollbar {
  @apply w-4 bg-[#161d30];
}

body::-webkit-scrollbar-track {
  @apply bg-[#161d30];
}

body::-webkit-scrollbar-thumb {
  border: 4px solid #fff;
  @apply rounded-full bg-gray-second border-[#161d30];
}

.task-checkbox:checked {
  @apply bg-[#7367f0] border-[#7367f0];
  box-shadow: 0 2px 4px 0 rgba(115, 103, 240, 0.4);
}

.task-checkbox:checked ~ .task-checkbox-icon {
  @apply opacity-100;
}

.record-dropdown-item {
  @apply flex items-center transition duration-150 ease-in-out w-full px-4 py-2 hover:bg-[#7367f01f] cursor-pointer;
}

.record-dropdown-item:hover svg {
  @apply stroke-indigo-main transition-colors duration-150 ease-in-out;
}

.record-dropdown-item:hover > span {
  @apply text-indigo-main transition-colors duration-150 ease-in-out;
}
